#body{
  margin: 0px;
  padding: 0px;
  background-color: #00a2ff;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(33, 115, 238);
}

#logo{
  max-width: 150px;
  max-height: 80px;
  padding: 10px;
}

header ul{
  list-style: none;
  display: flex;
}

header ul li{
  margin: 20px 20px 0px;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header ul li a{
  text-decoration: none;
  color: white;
}

header ul li a:hover{
  color:black;
}

#filtros{
    display: grid;
    grid-template-columns: minmax(300px,0.85fr) minmax(200px,2fr);
}

#Lista_tarefas{
    width: 90%;
    height: 90%;
    border: 10px;
    border-color: black;
    background-color: lightgrey;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(33, 115, 238);
    grid-row-start: 1;
    grid-row-end:3;
}

.titulo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    height: 60px;
    background-color:darkgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    background-color: rgb(33, 115, 238);
    color: white;
}

.titulo h3{
    font-size: 30px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo a{
    margin: auto 0;
    width: 30px;
    height: 30px;
}

.titulo a img{
    width: 30px;
    height: 30px;
    margin: auto 0;
}

#Tarefas_vertical{
    overflow:auto;
    height: 90%;
    background-color: rgb(33, 115, 238);
}

.tarefas{
    padding: 10px;
    background-color: #38D0F2;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.conteudo h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.conteudo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.icone{
    justify-content: center;
    margin: auto ;
    margin-right: 10px;
    align-items: center;
    min-width: 93px;
}

.icone img{
    width: 30px;
    height: 30px;
    padding: 2px;
    margin: 0 auto;
}

.btn_concluir{
    width: 20px;
    height: 20px;
    border-color: rgb(33, 115, 238);
    border-style: groove;
    border-radius: 3px;
}

.btn_update_status{
    color: white;
    background-color: #0d6efd;
    padding: 6px 12px;
    border-style: none;
    border-radius: 0.375rem;
}

.btn_update_status:hover{
    background-color: #0b5ed7;
    
}

#Barra_tarefa{
    background-color: rgb(33, 115, 238);
    width: 90%;
    margin:30px auto;
    height: 250px;
    border: 10px;
    border-radius: 20px;
    grid-row-start: 1;
    
}

#Barra_tarefa h3{
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px ;
    font-size: 23px;
    color: white;
}
.container{
    display: flex;
    justify-content: space-between;
}
#forward, #backward{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width:50px;
    height: 165px;
}

#forward:hover, #backward:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#forward img{
    width: 30px;
    height: 30px;
    
}

#backward img{
    width: 30px;
    height: 30px;  
}

#cards-tarefas{
    display: flex;
    width: 100%;
    overflow:hidden;
    align-items: center;
}


.card-corpo{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.card-header{
    display: flex;
    position: relative;
}

.card-header button{
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-style:groove;
    border-radius: 3px;
}

.card-header h5{
    width: 90%;
}

.card-tarefa{
    height: 90%; 
    margin-left: 10px; 
    min-width: 165px;
    max-width: 165px; 
    padding: 10px;
    background-color: white;
    border: 5px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    ;
}

.card-texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

.Modal_conteudo{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin: 0 auto;
}

.Modal-Comentario{
    width: 90%;
    margin: 0 auto;
}

.Modal-Comentario textarea{
    width: 100%;
    margin: 0 auto;
}

.modal-title{
    margin-left:23px ;
}

.modal-header{
    background-color: rgb(33, 115, 238);
    color: white;
}

.modal-body{
    background-color: #38D0F2 ;
}

/*Estilização barra de rolagem tarefas vertical*/
#Tarefas_vertical::-webkit-scrollbar {
    width: 16px;               /* width of the entire scrollbar */
  }
  
#Tarefas_vertical::-webkit-scrollbar-track {
    background: rgb(33, 115, 238);        /* color of the tracking area */
  }
  
#Tarefas_vertical::-webkit-scrollbar-thumb {
    background-color: #38D0F2;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: solid 3px rgb(33, 115, 238);
  }

  #Tarefas_vertical::-webkit-scrollbar-thumb:hover{
    background-color: #38d0f2a8;
  }


/*---------------------------------------------------------------------*/

#calendario{
    grid-row-start: 2;
    grid-column: 2 ;
}

.calendar {
  width: 90%; /* pra ajustar a largura*/
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  }

  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    color: rgb(33, 115, 238);
  }
  
  .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    background-color: #f2f2f2;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 115, 238);
    color: white;
    padding: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    gap: 10px;
    padding: 20px;
  }
  
  .day {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    flex-direction: column;
  }
  
  .day:hover {
    background-color: #e0e0e0;
  }
  
  .add-task-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(33, 115, 238);
    color: white;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .task-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .task-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
  }
  
  .task {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
  }
  

  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 115, 238);
    color: white;
    padding: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  .day {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .add-task-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(33, 115, 238);
    color: white;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .task-modal,
  .task-details-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .task-modal-content,
  .task-details-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    position: relative;
  }
  
  .close,
  .close-details {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
  }